[submodule "external/smtc-win32"]
	path = external/smtc-win32
	url = https://github.com/harmonoid/smtc-win32.git
[submodule "assets/translations"]
	path = assets/translations
	url = https://github.com/harmonoid/translations.git
[submodule "external/tag_reader"]
	path = external/tag_reader
	url = https://github.com/harmonoid/tag_reader.git
[submodule "external/adaptive_layouts"]
	path = external/adaptive_layouts
	url = https://github.com/harmonoid/adaptive_layouts
[submodule "external/media_library"]
	path = external/media_library
	url = https://github.com/harmonoid/media_library
