[submodule "external/smtc-win32"]
	path = external/smtc-win32
	url = https://github.com/harmonoid/smtc-win32.git
[submodule "external/harmonoid_visual_assets"]
	path = external/harmonoid_visual_assets
	url = https://github.com/harmonoid/harmonoid_visual_assets
[submodule "external/mpris_service.dart"]
	path = external/mpris_service.dart
	url = https://github.com/harmonoid/mpris_service.dart.git
[submodule "external/ytm_client.dart"]
	path = external/ytm_client.dart
	url = https://github.com/harmonoid/ytm_client.dart
[submodule "external/media_library"]
	path = external/media_library
	url = https://github.com/alexmercerind/media_library.git
[submodule "assets/translations"]
	path = assets/translations
	url = https://github.com/harmonoid/translations.git
[submodule "external/media_engine"]
	path = external/media_engine
	url = https://github.com/harmonoid/media_engine.git
[submodule "external/safe_local_storage"]
	path = external/safe_local_storage
	url = https://github.com/harmonoid/safe_local_storage.git
[submodule "external/window_plus"]
	path = external/window_plus
	url = https://github.com/alexmercerind/window_plus.git
[submodule "external/uri_parser"]
	path = external/uri_parser
	url = https://github.com/harmonoid/uri_parser.git
