Package: harmonoid
Version: 0.3.4-1
Section: base
Priority: optional
Homepage: https://github.com/harmonoid/harmonoid
Architecture: amd64
Depends: mpv, libmpv-dev
Maintainer: Hitesh Kumar Saini <saini123hitesh@gmail.com>
Description: Harmonoid
  Plays & manages your music library. Looks beautiful & juicy.
